
.background-color{
	background-color: #adb9d3;
}


.row .col-lg-10 {
  width: 880px;
  min-width:0px;
    
}
.cover-photo{
	background-image: url("../images/cpic.jpg");
	background-repeat: no-repeat;
    vertical-align: middle;
    background-size: auto auto;
	width:850px;
	height:315px;
	
}
.cover-outer-div{
	overflow:hidden;
	margin-top:10px;
	cursor:pointer;
	padding: 0px;
	border: 0px solid #909090;
}

#cover-pic-button-div{
	position:absolute;
	bottom:90px;
	right:25px;
	display:inline-block;
}
#cover-pic-button-div  .btn{
	
	line-height: 1.2;
	font-weight: bold;
	font-size:11px;
	border-radius:0px;
	color: #4E5665;
}
.camera-icon-div{
  position:relative;
  height:40px;
  width:200px;
 
}
#camera-icon{
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-size: auto auto;
	vertical-align:middle;
	display: inline-block;
    background-position:-1px -2px;
  	width:32px;
	height:32px;
	margin-top:25px;
	margin-left:15px;
	z-index: 100;
	
}
.camera-icon-hover-description{
	  position: relative;
	  top:-54px;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  padding:0px;
	  background-color:#000;
	  border:1px solid #fff;
	  color: #fff;
	  margin-top:25px;
	  margin-left:25px;
	  font:18px;
	  visibility:hidden;
	  opacity: 0; 
	
}
.camera-icon-div:hover  .camera-icon-hover-description{
	
	display:inline-block;
	visibility:visible;
  	opacity: 1;
  	
}
.camera-icon-div:hover  {
	
	display:inline-block;
	visibility:visible;
  	opacity: 1;
  	transform: scale(0.6);
}



.div-style-template{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
	 


}


.profile-menu{
	background-color: #FFF; 
	
	height: auto;
	padding-left: 201px;
	clear:both;
	text-align: left;
	margin-top: -10px;
	height: 43px;
	
}

.profile-menu a{
	border-top-width:0px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#E9EAED;
	border-bottom-width: 0px;
	border-left-width: 0px; 
	color:#3B5998;
	cursor: pointer;
	display:block;
	float: left;
	font-weight:bolder;
	font-size: 14px;
	height:43px;
	line-height:42.7px;
	padding-top:0px;
	padding-right:17px;
	padding-left:17px;
	padding-bottom:0px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	font-family: helvetica,arial,'lucida grande',sans-serif;
}
	
		
.profile-menu a:HOVER {
	
	background-color: #F6F7F8;
	text-decoration: none;
	color: #3B5998;
	
}

#friends-count{
	color: #89919C;
	font-size: 11px;
	font-weight: 400;
	padding-left: 6px;
	text-align: left;
	word-wrap:break-word;
	line-height: 33.55px;
}


.profile-menu ul{
   padding:0px;
   list-style: none;
}
 
 .profile-menu ul li {
   float: left;
   text-align: left;
   line-height: 21px;
   padding: 0px;
}

#profile-pic{
	background-color: #FFF;
	border: 1px solid #E9EAED;
	border-radius: 1px;
	
    cursor: pointer;
	line-height: 1.34;
	font-size: 12px;
	margin-left: -180px;
	margin-top:-140px;
	float:left;
	z-index: 2;
}

#profile-pic-image{
	height: 160px;
	width: 160px;
	line-height: 1.34;
	border: 4px solid #FFF;
	border-radius: 3px;
	}


#timeline-tab-color{
	color:#373E4D;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#E9EAED;
}

#timeline-tab-triangle{
	color:#adb9d3;
}
 
#profile-menu-more{
   width:83px;
}

#profile-menu-more ul li{
	background-color: #FFF; 
	width: 83px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#3B5998;
	
}

#profile-menu-more ul li:HOVER {
	
	background-color: #F6F7F8;
	text-decoration: none;
	color: #3B5998;
	
}

   
.profile-menu ul li ul{
	display: none;
}
.profile-menu ul li:hover ul{
	display: block; /* display the dropdown */
}
    

}
.timeline-capsule{
	background-color: #909090;
}
.timeline-div{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
}

