
.background-color{
	background-color: #909090;
}
<<<<<<< HEAD
.bgcolor{
	background-color:#3b5998;
}
.mTop5{
	margin-top:5px;
} 
.mBottom5{
	margin-bottom:5px;
}
.mLeft20{
   position:relative;
   display:inline-block;
   vertical-align:middle;
   margin-left:20px;
   font-size:13px}
.mRight20{
   position:relative;
   display:inline-block;
   vertical-align:middle;
   margin-right:20px;
   font-size:20px;}
.mTop10{
	margin-top:10px
}
.whitefont{
	color: white;
}
 .iconStyle{
  position:relative;
  display:inline-block;
   vertical-align:middle;
   margin-left:10px;
   font-size:20px;
   
  }
.messagemenu{
	position: absolute;
	width: 430px;
		
}
.menu-dropdown-width{
	width: 430px;
}
.border-bottom {
	position: relative;
	margin-top: 5px;
	margin-bottom:5px;
    border-bottom: 1px solid #ccc;
    width: 100%
}
.list-element-left{
	position: relative;
	margin-left: 5px;
}
.list-element-right{
	position: relative;
	margin-right: 5px;
}
.blue-font{
	color:#3b5998;
	font-size:13px
}
.gray-font{
	color: #7f7f7f;
}
.small-font{
	font-size:10px;
	
}
.text-in-center{
	text-align: center;
=======

.row .col-lg-10 {
     width: 72.7%;
     min-width:0px;
  }
.cover-photo{
	
	background-image: url("../images/cpic.jpg");
	background-repeat: no-repeat;
     vertical-align: middle;
    background-size: auto auto;
	width:850px;
	height:315px;
	position:relative;
   
}
.cover-outer-div{
	overflow:hidden;
	margin-top:10px;
	cursor:pointer;
	padding: 0px;
	border: 1px solid #909090;
}

#cover-pic-button-div{
	position:absolute;
	bottom:15px;
	right:15px;
	display:inline-block;
	
}
#cover-pic-button-div  .btn{
	
	line-height: 1.2;
	font-weight: bold;
	font-size:11px;
	border-radius:0px;
	color: #4E5665;
}
.div-style-template{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
	 
}
.timeline-capsule{
	background-color: #909090;
}
.timeline-div{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
>>>>>>> dev
}