
.background-color{
	background-color: #909090;
}

.row .col-lg-10 {
  width: 880px;
  min-width:0px;
    
}
.cover-photo{
	background-image: url("../images/cpic.jpg");
	background-repeat: no-repeat;
    vertical-align: middle;
    background-size: auto auto;
	width:850px;
	height:315px;
	position:absolute;
}
.cover-outer-div{
	overflow:hidden;
	margin-top:10px;
	cursor:pointer;
	padding: 0px;
	border: 0px solid #909090;
}

#cover-pic-button-div{
	position:absolute;
	bottom:15px;
	right:15px;
	display:inline-block;
}
#cover-pic-button-div  .btn{
	
	line-height: 1.2;
	font-weight: bold;
	font-size:11px;
	border-radius:0px;
	color: #4E5665;
}
.camera-icon-div{
  position:relative;
  height:40px;
  width:200px;
 
}
#camera-icon{
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-size: auto auto;
	vertical-align:middle;
	display: inline-block;
    background-position:-1px -2px;
  	width:32px;
	height:32px;
	margin-top:25px;
	margin-left:15px;
	z-index: 100;
	
}
.camera-icon-hover-description{
	  position: relative;
	  top:-54px;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  padding:0px;
	  background-color:#000;
	  border:1px solid #fff;
	  color: #fff;
	  margin-top:25px;
	  margin-left:25px;
	  font:18px;
	  visibility:hidden;
	  opacity: 0; 
	
}
.camera-icon-div:hover  .camera-icon-hover-description{
	
	display:inline-block;
	visibility:visible;
  	opacity: 1;
  	transform: scale(0.6);
}


.div-style-template{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
	 
}


/*Update Status*/

.panel .nav>li>a:hover,
.panel .nav>li>a:focus {
	background-color: #ffffff;
	text-decoration: underline;
}
.panel .nav .active>a:hover {
	text-decoration: none;
}
.panel .nav>li>a {
	font-weight: bold;
}

.expand {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    border: none;
    outline: none;
}
.post {
	color: #fff;
	font-weight: bold;
}
/*
border-color: #435a8b #3c5488 #334c83;*/

/*End Update Status*/

.timeline-capsule{
	background-color: #909090;
}
.timeline-div{
	border-radius:4px;
	border-color: 1px solid #141823;
	color: #9197A3;
	font-size:12px;
	word-wrap:break-word;
	margin:5px;
}

